/* :root, [data-theme="mytheme"] {
--b: #222222; 
--p: #333333; 
--s: #f2a07b; 
--bc: #eeeeee;
*/

.nav-link-hover {
  position: relative;
}

.nav-link-hover::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -2px;
  left: 50%;
  background-color: currentColor;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-link-hover:hover::after {
  width: 100%;
  left: 0;
}

#projects-container > :nth-child(n + 7) {
  display: none;
}
.skill-card {
  opacity: 0;
}
.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out forwards;
}

.animate-fadeOut {
  animation: fadeOut 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

html {
  scroll-behavior: smooth;
}
